@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-mono;
}

h1, h2, h3, h4 {
  @apply font-sans uppercase;
}

a {
  @apply text-em-blue transition duration-300;
}

a:hover {
  @apply text-em-orange;
}