<template>
  <div
    class="em-block w-full mx-auto px-4"
    :class="{
      'max-w-7xl': !large,
      'my-12 sm:my-24': !withoutMargin
    }"
  >
    <div
      :class="{
        'border-b-4 border-em-gray-lighter': withBorder,
        'border-t-4': withBorder && !onlyBottom
      }"
    >
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    large: {
      type: Boolean,
      default: false
    },
    withoutMargin: {
      type: Boolean,
      default: false
    },
    withBorder: {
      type: Boolean,
      default: false
    },
    onlyBottom: {
      type: Boolean,
      default: false
    }
  }
}
</script>
