<template>
  <!-- eslint-disable-next-line vue/no-v-html -->
  <div class="em-typography" v-html="withBreaks" />
</template>

<script>
export default {
  props: {
    dirty: {
      type: String,
      default: ''
    }
  },

  computed: {
    withBreaks() {
      return this.dirty.replace(/\n/gim, '<br />')
    }
  }
}
</script>

<style lang="postcss">
.em-typography h3 {
  @apply text-em-blue text-xl sm:text-2xl md:text-3xl;
}

.em-typography ul {
  @apply list-disc;
}

.em-typography li {
  @apply pl-4 ml-8;
}

.em-typography > * {
  @apply my-6 text-lg sm:my-10 sm:text-xl md:text-2xl;
}

.em-typography > *:first-child {
  @apply mt-0;
}
</style>
