<template>
  <em-block
    class="md:border-b border-gray-200 last:border-b-0 last:pb-0 pb-8 md:pb-16"
  >
    <em-h-2 v-safe-html="mainTitle" class="text-em-orange md:mb-12" />
    <div class="lg:flex" :class="{ 'lg:flex-row-reverse': mediaOnTheRight }">
      <div
        class="lg:w-1/3 mb-12"
        :class="mediaOnTheRight ? 'lg:ml-8' : 'lg:mr-8'"
      />
      <em-typography class="lg:w-2/3 pt-6" :dirty="content.html || ''" />
    </div>
  </em-block>
</template>

<script>
import EmH2 from '../../Atoms/EmH2'
import EmTypography from '../../Templates/EmTypography.vue'
import EmBlock from '../../Templates/EmBlock'
export default {
  components: { EmBlock, EmH2, EmTypography },

  props: {
    mainTitle: { type: String, default: '' },
    content: {
      type: Object,
      default: () => ({ html: '' })
    },
    mediaOnTheRight: {
      type: Boolean,
      default: false
    }
  }
}
</script>
