<template>
  <Layout class="em-index min-h-0 flex flex-col flex-grow">
    <em-navbar />
    <em-header :subtitle="subtitle" />
    <em-block large without-margin with-border>
      <main>
        <component
          :is="component"
          v-for="({ component, ...props }, index) in blocks"
          :key="index"
          v-bind="props"
        />
      </main>
    </em-block>
    <contact-section v-bind="contactForm" />
    <em-footer />
  </Layout>
</template>

<script>
import ContactSection from '../components/Molecules/ContactSection'
import EmHeader from '../components/Molecules/EmHeader'
import EmNavbar from '../components/Molecules/EmNavbar'
import EmBlock from '../components/Templates/EmBlock'
import EmFooter from '../components/Molecules/EmFooter'
import MediaTextBlock from '../components/Molecules/Blocks/MediaText.vue'

export default {
  components: {
    ContactSection,
    EmHeader,
    EmNavbar,
    EmBlock,
    EmFooter,
    MediaTextBlock
  },

  metaInfo: {
    title: 'Eclectic Method',
    meta: [
      {
        name: 'description',
        content:
          'Eclectic Method - where creativity works. Il perfetto equilibrio fra il certosino lavoro degli Oompa Loompa sempre pronti, organizzati e lungimiranti.'
      }
    ]
  },

  computed: {
    homePage() {
      return this.$page.gcms?.homePages?.[0] || {}
    },
    contactForm() {
      return {
        title: this.homePage?.contactFormTitle || 'Contattaci a',
        subtitle: this.homePage?.contactFormSubtitle || '',
        content: this.homePage?.contactFormText?.html || ''
      }
    },
    subtitle() {
      return this.homePage.subtitle
    },
    rawBlocks() {
      return this.homePage?.pageContent?.blocks || []
    },
    blocks() {
      return this.rawBlocks.map(({ __typename, ...rest }) => {
        const component = __typename.replace('gcmsTypes_', '')
        return { component, ...rest }
      })
    }
  }
}
</script>

<page-query>
query {
  gcms {
    homePages {
      subtitle
      contactFormTitle
      contactFormSubtitle
    	contactFormText {
        html
      }
      pageContent {
        blocks {
          __typename
          ...on gcmsTypes_MediaTextBlock {
            mainTitle
            content {
              html
            }
            mediaOnTheRight
            media {
              url
            }
          }
        }
      }
    }
  }
}
</page-query>

<style lang="postcss">
html {
  @apply flex flex-col;
}

body {
  @apply min-h-0 flex flex-col flex-grow;
}
</style>
