<template>
  <button
    class="font-mono em-button text-em-gray font-bold text-sm sm:text-xl py-3 px-8 bg-white border-2 border-em-gray rounded-lg uppercase tracking-widest transition duration-150 hover:border-em-blue hover:text-em-blue"
    @click="$emit('click')"
  >
    <slot />
  </button>
</template>

<style lang="postcss">
.em-button {
  box-shadow: 0.75rem 0.5rem 0 0 rgba(0, 0, 0, 0.05);
}
</style>
