<template>
  <component :is="as" class="text-3xl sm:text-4xl md:text-5xl">
    <slot />
  </component>
</template>

<script>
export default {
  props: {
    as: {
      type: String,
      default: 'h2'
    }
  }
}
</script>
