<template>
  <component :is="as" class="text-xl sm:text-2xl md:text-3xl">
    <slot />
  </component>
</template>

<script>
export default {
  props: {
    as: {
      type: String,
      default: 'h3'
    }
  }
}
</script>
