<template>
  <component :is="as" class="my-10 sm:my-16 text-lg sm:text-xl md:text-2xl">
    <slot />
  </component>
</template>

<script>
export default {
  props: {
    as: {
      type: String,
      default: 'p'
    }
  }
}
</script>
