<template>
  <em-block large without-margin>
    <em-block large class="contact-form md:py-16 max-w-screen-3xl">
      <div class="flex justify-between w-full h-full flex-wrap">
        <div class="flex-1 max-w-2xl sm:pr-8 lg:pr-20 mx-auto">
          <em-h-3 v-safe-html="subtitle" class="text-em-orange mb-2 md:mb-4" />
          <em-h-2 v-safe-html="title" class="text-em-blue" />
          <em-typography :dirty="content" class="contact-form__content mt-8" />
        </div>
        <contact-form class="max-w-xl mx-auto w-full" />
      </div>
    </em-block>
  </em-block>
</template>

<script>
import EmH2 from '../Atoms/EmH2.vue'
import EmH3 from '../Atoms/EmH3.vue'
import EmTypography from '../Templates/EmTypography.vue'
import EmBlock from '../Templates/EmBlock'
import ContactForm from './ContactForm.vue'

export default {
  components: { EmBlock, EmH2, EmH3, EmTypography, ContactForm },

  props: {
    title: { type: String, default: '' },
    subtitle: { type: String, default: '' },
    content: { type: String, default: '' }
  }
}
</script>

<style lang="postcss">
.contact-form__content.em-typography h3 {
  @apply text-em-orange;
}
</style>
