<template>
  <div>
    <div v-if="!sent" class="w-full mt-12 lg:mt-0">
      <form
        name="contact"
        method="POST"
        data-netlify="true"
        data-netlify-honeypot="bot-field"
        class="contact-form"
        @submit.prevent="handleSubmit"
      >
        <input type="hidden" name="form-name" value="contact" />
        <label class="form-group">
          <div class="form-group__label">Nome e cognome</div>
          <input
            placeholder="Paolo Rossi"
            type="text"
            name="name"
            class="form-group__input"
            required
          />
        </label>
        <label class="form-group">
          <div class="form-group__label">Indirizzo email</div>
          <input
            placeholder="paolo.rossi@email.com"
            type="text"
            name="email"
            class="form-group__input"
            required
          />
        </label>
        <label class="form-group">
          <div class="form-group__label">Il tuo messaggio</div>
          <textarea name="message" rows="4" class="form-group__input" />
        </label>
        <div class="contact-form__footer">
          <label class="privacy-input flex items-center">
            <input
              type="checkbox"
              name="privacy"
              :value="`Privacy accettata: ${new Date().toISOString()}`"
              class="privacy-input__input sr-only"
              required
            />
            <div
              class="privacy-input__box flex-shrink-0 w-6 h-6 mr-4 my-8 transition duration-150 rounded border-2 border-em-gray relative"
              aria-hidden="true"
            />
            <div class="privacy-input__label md:text-lg">
              Accetto l'informativa sulla
              <a
                target="_blank"
                rel="noreferrer noopener nofollow"
                href="https://www.iubenda.com/privacy-policy/80409233"
              >
                privacy
              </a>
            </div>
          </label>
          <div v-if="!loading" class="button-area flex justify-center">
            <em-button>Invia</em-button>
          </div>
          <div
            v-else
            class="text-lg text-center font-semibold text-em-gray animate-pulse"
          >
            Invio del form in corso...
          </div>
        </div>
      </form>
    </div>
    <div v-else class="text-center py-16">
      <em-h-2 as="div" class="text-em-blue font-sans uppercase">
        Grazie!
      </em-h-2>
      <em-p>La tua richiesta è stata inviata con successo.</em-p>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import EmButton from '../Atoms/EmButton.vue'
import EmH2 from '../Atoms/EmH2.vue'
import EmP from '../Atoms/EmP.vue'

export default {
  components: { EmButton, EmH2, EmP },
  data() {
    return {
      sent: false,
      loading: false
    }
  },

  methods: {
    handleSubmit(event) {
      this.loading = true
      axios
        .post('', new URLSearchParams(new FormData(event.target)).toString(), {
          headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
        })
        .then(() => (this.sent = true))
        .finally(() => (this.loading = false))
    }
  }
}
</script>

<style lang="postcss">
.form-group {
  @apply block mt-8;
}

.form-group:first-of-type {
  @apply mt-0;
}

.form-group__input {
  @apply w-full px-5 py-3 border-2 border-em-gray rounded-lg;

  box-shadow: 0.75rem 0.5rem 0 0 rgba(0, 0, 0, 0.05);
}

.form-group__input:focus {
  @apply outline-none border-em-blue;
}

.form-group__label {
  @apply block m-2 md:text-lg;
}

.privacy-input__box::after {
  @apply opacity-0 transition duration-150 absolute inset-0 flex items-center pb-1 text-em-gray justify-center text-lg;

  content: '\2714';
}
.privacy-input__input:focus + .privacy-input__box {
  @apply border-em-blue;
}

.privacy-input__input:checked + .privacy-input__box::after {
  @apply opacity-100;
}
</style>
