<template>
  <footer class="em-footer px-4">
    <div class="border-t-4 border-em-gray-lighter">
      <div
        class="flex justify-between items-center flex-wrap xs:px-8 pt-8 lg:pb-8 max-w-screen-3xl mx-auto"
      >
        <div class="flex-auto mx-auto text-center sm:text-left">
          <div class="text-2xl tracking-widest">Eclectic Method</div>
          <div class="mt-2">
            <a id="footer-email-link" href="mailto:info@eclecticmethod.it">
              info@eclecticmethod.it
            </a>
          </div>
        </div>
        <div
          class="mx-auto md:pl-8 flex items-center justify-center flex-wrap py-8 text-center lg:text-right text-sm"
        >
          <a
            href="https://www.iubenda.com/privacy-policy/80409233"
            target="_blank"
            rel="noreferrer noopener nofollow"
            class="px-2 md:px-4 lg:px-6 py-1"
          >
            Privacy Policy
          </a>
          <a
            href="https://www.iubenda.com/privacy-policy/80409233/cookie-policy"
            target="_blank"
            rel="noreferrer noopener nofollow"
            class="px-2 md:px-4 lg:px-6 py-1"
          >
            Cookie Policy
          </a>
        </div>
      </div>
    </div>
  </footer>
</template>
