<template>
  <header
    class="em-header flex-grow min-h-screen-9/10 mt-12 sm:mt-16 w-full flex items-center justify-center flex-col px-4"
  >
    <h1>
      <span class="block text-right text-em-orange text-3xl lg:text-6xl mr-3">
        We are
      </span>
      <span
        class="header-shadow block max-w-full text-right text-em-blue text-5xl sm:text-7xl lg:text-9xl tracking-wider leading-tight"
      >
        Eclectic<br />Method
      </span>
    </h1>
    <div
      class="header-subtitle flex items-center justify-center text-em-gray-light mt-12"
    >
      <span
        v-safe-html="subtitle"
        class="font-mono text-xl sm:text-3xl lg:text-4xl mx-6 sm:mx-12 normal-case text-center"
      />
    </div>
    <em-button class="mt-20" @click="scroll"> Scopri di più </em-button>
  </header>
</template>

<script>
import EmButton from '../Atoms/EmButton'

export default {
  components: { EmButton },

  props: {
    subtitle: {
      type: String,
      default: ''
    }
  },

  methods: {
    scroll() {
      const header = document.querySelector('header.em-header')
      window.scrollTo({
        top: window.scrollY + header.getBoundingClientRect().bottom - 50,
        left: 0,
        behavior: 'smooth'
      })
    }
  }
}
</script>

<style lang="postcss">
.header-shadow {
  text-shadow: 2.25rem 1rem rgba(0, 0, 0, 0.06);
}

.header-subtitle::after,
.header-subtitle::before {
  @apply text-2xl mt-1;

  content: '\2022';
}
</style>
