<template>
  <section
    class="em-navbar flex items-center justify-between fixed top-0 z-20 px-4 sm:px-8 shadow-lg w-full bg-white"
  >
    <g-link to="/" class="py-5 block">
      <div class="sr-only">Visita Eclectic Method</div>
      <em-logo class="h-8 sm:h-12 w-auto text-em-gray" />
    </g-link>
  </section>
</template>

<script>
import EmLogo from '../../assets/svg/logo.svg'

export default {
  components: { EmLogo }
}
</script>
